---
import { Picture } from "astro:assets";
import Button from "./Button.astro";
import ContentHeader from "./ContentHeader.astro";
import { getEntry, render } from "astro:content";

const about = await getEntry("about", "index");
if (!about) throw new Error("About page not found");

const { Content } = await render(about);
---

<section id="about" class="relative bg-[#181a17] pt-15 md:pt-40">
    <div class="absolute top-0 left-0 w-full overflow-hidden">
        <svg
            class="relative block w-[calc(100%+1.3px)] h-[50px] md:h-32"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
        >
            <path
                d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
                class="fill-[#FBFBFE]"></path>
        </svg>
    </div>

    <div
        class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-18 items-center justify-center m-auto pb-5 px-5 lg:px-15 max-w-[1440px]"
    >
        <div class="text-white">
            <ContentHeader text={about.data.title} />

            <div class="markdown text-lg md:text-xl leading-6 text-justify">
                <Content />
            </div>

            <div class="py-7 text-center">
                {
                    about.data.buttons.map((button) => (
                        <Button text={button.text} href={button.href} />
                    ))
                }
            </div>
        </div>

        <div>
            <Picture
                src={about.data.image}
                alt={about.data.title}
                class="object-cover justify-self-center w-full lg:h-auto"
            />
        </div>
    </div>
</section>

<style is:global>
    #about .markdown p {
        margin: 0.625rem 0;
    }
</style>
