---
import BurgerButton from "./BurgerButton.astro";
import ContactButton from "./ContactButton.astro";
import { getEntry } from "astro:content";

const menu = await getEntry("menu", "index");
if (!menu) throw new Error("Menu config not found");
---

<div
    id="main-menu"
    class="fixed top-0 left-0 w-full md:h-[90px] md:bg-black/30 md:backdrop-blur-xl z-50 flex text-center h-[60px] bg-white backdrop-blur-0"
>
    <div
        class="w-full max-w-[1440px] mx-auto px-5 flex items-center justify-between gap-5"
    >
        <a
            href={menu.data.items?.[0]?.href ?? "#home"}
            class="text-black md:text-white text-4xl md:text-5xl tracking-tighter hover:text-blue-300 transition-colors duration-300 ease"
        >
            {menu.data.brand}
        </a>
        <div class="md:flex md:gap-7 md:ml-5 md:items-center hidden">
            {
                menu.data.items.map((item) => (
                    <a
                        href={item.href}
                        class="text-white text-xl hover:text-blue-300 transition-colors duration-300 ease"
                    >
                        {item.label}
                    </a>
                ))
            }
        </div>
        {
            menu.data.contact && (
                <div class="md:block hidden">
                    <ContactButton
                        text={menu.data.contact.label}
                        href={menu.data.contact.href}
                    />
                </div>
            )
        }
        <BurgerButton />
    </div>
</div>
